<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Autores</title>
</head>
<body>
    <div><h1>Autores registrados en el sistema</h1></div>
    {% if autores %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
            </tr>
        </thead>
        <tbody>
            {% for autor in autores %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div>
        <strong>No hay autores registrados en el sistema</strong>
    </div>
    {% endif %}

</body>
</html>